<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @platform.company %>
</p>

<p>
  <strong>Start:</strong>
  <%= @platform.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @platform.end %>
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
