<%= form_for(@pelicula) do |f| %>
  <% if @pelicula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pelicula.errors.count, "error") %> prohibited this pelicula from being saved:</h2>

      <ul>
      <% @pelicula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
    <div class="dropdown">
      <%= f.label :pais_id %><br>
      <%= f.collection_select(:paise_id, Paise.order('paises.name ASC').all, :id, :name) %><br><br>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
