<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pelicula.name %>
</p>

<p>
  <strong>Director:</strong>
  <%= @pelicula.director %>
</p>

<p>
  <strong>Year:</strong>
  <%= @pelicula.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @pelicula.country %>
</p>

<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
