<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pelicula.name %>
</p>

<p>
  <strong>Director:</strong>
  <%= @pelicula.director %>
</p>

<p>
  <strong>Año:</strong>
  <%= @pelicula.year %>
</p>

<p>
  <strong>País:</strong>
  <%= @pelicula.paise.name %>
</p>

<%= link_to 'Editar', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Volver', peliculas_path %>
